*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(gray,white);
}
contact-container{
    border-radius:5px;
    background-color:#f2f2f2;
    border: 2px solid #ccc;
    padding:20px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
width: 100%; /* Full width */
padding:12px; /* Some padding */
display: flexbox;
border: 2px solid #ccc; /* Gray border */
border-radius: 30px; /* Rounded borders */
box-sizing : border-box ; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize:vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
    display: flex;
    background-color: gray;
    color: white;
    padding: 12px 20px;
    margin-top: 6px; /* Add a top margin */
    box-sizing : border-box ; /* Make sure that padding and width stays in place */
    margin-bottom: 16px; /* Bottom margin */
    border: 2px;
    border-radius: 30px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
    background-color: gray;
    
}

